import requests

def test_HTTP_GENERIC():
    ip = "{{ v.ip }}"
    port = int("{{ v.ports }}".split(",")[0])
    url = f"http://{ip}:{port}/"

    r = requests.get(url, timeout=5)

    assert r.status_code in (200, 401, 403)
