import pytest
import requests

TIMEOUT = 5

@pytest.mark.vuln_id("HTTP_BASIC_AUTH")
def test_HTTP_DEFAULT_CREDENTIALS():
    ip = "{{ ip }}"
    ports = "{{ ports }}".split(",")

    for port in ports:
        url = f"http://{ip}:{port}"

        try:
            r = requests.get(
                url,
                auth=("admin", "admin"),
                timeout=TIMEOUT
            )

            if r.status_code < 400:
                assert True  # PASS → credencial fraca aceita

        except requests.RequestException:
            continue

    pytest.fail("HTTP não aceita credenciais padrão")
