import pytest

try:
    import paramiko
except ImportError:
    pytest.skip("paramiko not installed", allow_module_level=True)

def test_SSH_WEAK_CREDS():
    ip = "{{ v.ip }}"
    port = int("{{ v.ports }}".split(",")[0])

    ssh = paramiko.SSHClient()
    ssh.set_missing_host_key_policy(paramiko.AutoAddPolicy())

    ssh.connect(ip, port=port, username="root", password="root", timeout=5)
    ssh.close()

    assert True
