import pytest
import paramiko

@pytest.mark.vuln_id("SSH_WEAK_CREDS")
def test_ssh_weak_credentials():
    ip = "{{ v.ip }}"
    port = 22

    try:
        client = paramiko.SSHClient()
        client.set_missing_host_key_policy(paramiko.AutoAddPolicy())

        # credenciais fracas clássicas
        client.connect(ip, port=port, username="root", password="root", timeout=5)

        client.close()
        assert True  # credencial fraca aceita

    except paramiko.AuthenticationException:
        pytest.fail("Credenciais fracas rejeitadas")

    except Exception as e:
        pytest.skip(f"Erro SSH: {e}")
