import pytest
import telnetlib

@pytest.mark.vuln_id("TELNET_OPEN")
def test_telnet_open():
    ip = "{{ v.ip }}"
    port = 23

    try:
        tn = telnetlib.Telnet(ip, port, timeout=5)
        banner = tn.read_until(b"\n", timeout=3)
        tn.close()

        if banner:
            assert True  # serviço telnet aberto
        else:
            pytest.fail("Telnet não respondeu")

    except Exception as e:
        pytest.skip(f"Erro Telnet: {e}")
