import socket

def test_TELNET_OPEN():
    ip = "{{ v.ip }}"
    port = int("{{ v.ports }}".split(",")[0])

    s = socket.socket()
    s.settimeout(3)
    s.connect((ip, port))
    s.close()

    assert True
